<footer>
    <div class="footer-wrapper">
        <div class="footer-content">
            <h3 class="footer-title">参考资料</h3>
            <ul *ngFor="let r of ref">
                <li>
                    <dl>
                        <dt>{{r.author}}『{{r.title}}』{{r.series}}</dt>
                        <dd>{{r.publisher}}({{r.publication}})</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="footer-content">
            <h3 class="footer-title">谢意</h3>
            <ul class="footer-list">
                <li>
                    <a href="https://ctext.org/zh" target="_blank" rel="noopener noreferrer">中國哲學書電子化計劃</a>
                </li>
                <li>
                    <a href="https://htmlcss.jp/color/china.html" target="_blank"
                        rel="noopener noreferrer">中国の伝統色320色</a>
                </li>
            </ul>
        </div>
        <div class="footer-content">
            <h3 class="footer-title">更新记录</h3>
            <ul *ngFor="let l of log">
                <li>
                    <dl>
                        <dt>{{l.date| date:"yyyy年M月d日"}}</dt>
                        <dd>{{l.text}}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="footer-content">
            <h3 class="footer-title">联系我</h3>
            <ul class="footer-list">
                <li><a href="https://github.com/tsuyuri104" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="https://forms.gle/3t9RoYhVGmXjTSTs6" target="_blank" rel="noopener noreferrer">电子邮件</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-wrapper">
        <p>{{ver}}</p>
    </div>
</footer>