@import "./../color";
@import "./../common";

h1 {
  text-align: center;
}
.search {
  &-maintopic {
    font-size: 1.2rem;
    border: solid 1px $pink-light;
    padding: 0.2rem;
    margin-bottom: 1.5rem;
  }
  &-subtopic {
    font-size: 1rem;
    margin: 0 0.5rem;
    color: $gray;
    display: inline;

    input {
      display: none;
    }

    label {
      cursor: pointer;
      &:before,
      &:after {
        content: "#";
      }
    }

    input:checked ~ label {
      color: $pink;
    }
  }
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.poem-card {
  font-family: "Noto Serif TC";
  background-color: #ffffff;
  filter: drop-shadow(10px 10px 10px $gray-light);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  width: 100%;

  @include ForPcMode() {
    width: 25%;
    margin: 1rem 0.5rem;
  }

  &-title {
    margin: 0;
  }

  &-topic,
  &-liuyu {
    font-size: 0.8rem;
    margin: 0.2rem 0.5rem;
    color: $blue;

    &:before,
    &:after {
      content: "#";
    }
  }

  &-text {
    margin: 0.2rem 0;
    display: inline-block;
  }
}
